.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 508px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 5px;

  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
    padding: 30px;
    padding-top: 20px;

  }
  .imdiv{
      width: 32%;
      margin-right: 0px;
      display: inline-block;
      padding-left: 10px;
      
      
  }
  h2{
    
    margin-left: 10px;
    padding-right: 10%;
    padding-left: 100px;
    margin-left: 150px;
    
  }

  span:after{
    content: "";
    display: table;
    clear: both;
  }

  p{
     margin-left: 2px;
     padding-bottom: 5px;
     margin-top: 0px;
     margin-block-start: 0em;
     margin-block-end: 0em;
     margin-left: 150px;
     padding-left: 100px;
     
  }

  

 .loadm{
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    border: 1px;
    margin-top: 10px;
    width: 194px;
    margin-left: 40%;
    background-color: rgb(155, 95, 211);
    color: whitesmoke;
    font-size: medium;
    

 }

  .container {
    padding: 2px 16px;
    display: inline-block;
    margin-bottom: 10px;
    
  } 